.profile-info-container {
  background-color: #fffde2;
  padding: 15px 0 15px 0;

}

.profile-card {
  max-width: 300px;
  align-self: center;
  margin: 0 auto 10px auto;
}

.profile-navbar {
  display: flex;
  justify-content: space-around;
}

.img {
  max-height: 500px;
}
