<mat-card class='profile-card'>
      <mat-card-header>
        <div mat-card-avatar ></div>
        <mat-card-title>{{profile.username}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="example-header-image" [src]="this.profile.avatarUrl">
      <mat-card-actions *ngIf="this.profile.isOwner">
          <button mat-button>Edit profile</button>
      </mat-card-actions>

      <mat-card-actions *ngIf="!this.profile.isOwner">
          <button mat-button *ngIf="!this.profile.isFollowed" (click)="this.onClickFollowUnfollow(true)">Follow</button>
          <button mat-button *ngIf="this.profile.isFollowed" (click)="this.onClickFollowUnfollow(false)">Unfollow</button>
      </mat-card-actions>
  </mat-card>

  <mat-toolbar class='profile-navbar'>
      <button *ngIf="this.profile.isOwner" mat-raised-button (click)="openDialog()">Add Pic</button>
      <button mat-raised-button [routerLink]="['posts']">Pics</button>
      <button mat-raised-button [routerLink]="['followers']">Followers</button>
      <button mat-raised-button [routerLink]="['following']">Following</button>
  </mat-toolbar>
