<p>Create post works</p>

<input type="file" (change)="fileChangeEvent($event)" />

<div>
    <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [containWithinAspectRatio]="containWithinAspectRatio"
        [aspectRatio]="1 / 1"
        [resizeToWidth]="512"
        [cropperMinWidth]="512"
        [cropperMinHeight]="512"
        [onlyScaleDown]="true"
        [roundCropper]="false"
        format="png"
        outputType="base64"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady($event)"
        (loadImageFailed)="loadImageFailed()"
        [style.display]="showCropper ? null : 'none'"
        [alignImage]="'left'"
    ></image-cropper>
</div>


<div class="create-post-container">
  <form [formGroup]="this.createPostForm" (ngSubmit)="this.createPost(this.createPostForm.value)">
    <mat-form-field>
      <input matInput placeholder="Add title" required formControlName="title">
      <mat-error *ngIf="!!this.createPostForm.controls.title.errors?.required">
        A title is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Add content" required formControlName="content">
      <mat-error *ngIf="!!this.createPostForm.controls.content.errors?.required">
        Some content is required!
      </mat-error>
    </mat-form-field>

    <label>The post's privacy settings: </label>
    <mat-radio-group formControlName="isPrivate">
        <mat-radio-button value="Private">Private</mat-radio-button>
        <mat-radio-button value="Public">Public</mat-radio-button>
    </mat-radio-group>

    <button mat-icon-button class="create-post-button" type="submit" [disabled]="!this.createPostForm.valid || !this.croppedImage" >
      Create Post
      <i class="material-icons">
        book
      </i>
    </button>
  </form>
</div>

<!-- Comment: Image cropper is impemented. At present implementation suboptimal.
- No file upload validation - size and extension (3 MB max / png and jpeg )
- The whole component should be made a modal that automatically closes
and clear up the cropped image one the upload is done  -->
