

<input type="file" (change)="fileChangeEvent($event)" class="upload-btn"/>


    <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [containWithinAspectRatio]="containWithinAspectRatio"
        [aspectRatio]="1 / 1"
        [resizeToWidth]="512"
        [cropperMinWidth]="128"
        [cropperMinHeight]="128"
        [onlyScaleDown]="false"
        [roundCropper]="false"
        format="png"
        outputType="base64"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady($event)"
        (loadImageFailed)="loadImageFailed()"
        [style.display]="showCropper ? null : 'none'"
        [alignImage]="'left'"
    ></image-cropper>



<div class="create-post-container">
  <form [formGroup]="this.createPostForm" (ngSubmit)="this.createPost(this.createPostForm.value)" class="form">
    <mat-form-field>
      <input matInput placeholder="Add title" required formControlName="title">
      <mat-error *ngIf="!!this.createPostForm.controls.title.errors?.required">
        A title is required!
      </mat-error>
      <mat-error *ngIf="!!this.createPostForm.controls.title.errors?.minlength">
        The title must be at least 2 symbols long!
      </mat-error>
      <mat-error *ngIf="!!this.createPostForm.controls.title.errors?.maxlength">
        The title must be shorter that 60 symbols!
      </mat-error>
    </mat-form-field>
    <!-- <br /> -->
    <mat-form-field>
      <input matInput placeholder="Add content" required formControlName="content">
      <mat-error *ngIf="!!this.createPostForm.controls.content.errors?.required">
        Some content is required!
      </mat-error>
      <mat-error *ngIf="!!this.createPostForm.controls.content.errors?.minlength">
        The content of the post must be at least 5 symbols long!
      </mat-error>
      <mat-error *ngIf="!!this.createPostForm.controls.content.errors?.maxlength">
        The content of the post must be shorter that 1000 symbols!
      </mat-error>
    </mat-form-field>
    <br />
    <mat-radio-group formControlName="isPrivate" required>
        <mat-radio-button value="Private">Private</mat-radio-button> &nbsp;&nbsp;&nbsp;&nbsp;
        <mat-radio-button value="Public">Public</mat-radio-button>
    </mat-radio-group>

    <button mat-icon-button class="create-post-button" type="submit" [disabled]="!this.createPostForm.valid || !this.croppedImage" >
      <i class="material-icons">
        assignment_turned_in
      </i>
    </button>
  </form>
</div>


