@media only screen and (max-width: 800px) {
    .image-container {
        top: 30% !important;
    }
}

.not-found-container {
    height: 88vh;
    background-color: #fffde2;
    margin-top: -10px;
}

.image-container {
    width: 50%;
    position: relative;
    top: 8%;
    animation-name: moving;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes moving {
    10% {left:0%;}
    40% {left:50%;}
    60% {left:50%;}
    90% {left:0%;}
}

.image {
    width: 100%;
}

.text {
    font-family: sans-serif;
    font-size: 3vw;
    text-align: center;
}