<div class="dialog-container">
    <div class="message-and-buttons">
        <div mat-dialog-content class="message">
            {{message}}
        </div>
        <div class="buttons" mat-dialog-actions>
            <button mat-button [mat-dialog-close]="true" cdkFocusInitial class='yes-btn'>Yes</button>
            <button mat-button (click)="onNoClick()" class='no-btn'>No</button>
        </div>
    </div>
    <div class="image-container">
        <img  class ="dialog-image"src="./../../../../assets/shocked-alien.jpg">
    </div>
</div>
