<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset | async)!.matches}" fixedInViewport="false" [attr.role]="isHandset ? 'dialog' : 'navigation'"
      [mode]="(isHandset | async)!.matches ? 'over' : 'side'" [opened]="!(isHandset | async)!.matches">
      <mat-toolbar color="secondary">Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['home']">Home</a>
        <a mat-list-item [routerLink]="['users']">Users</a>
        <a mat-list-item [routerLink]="['users/login']" *ngIf="!this.loggedUser">Login</a>
        <a mat-list-item [routerLink]="['users/register']" *ngIf="!this.loggedUser">Register</a>
        <a mat-list-item  *ngIf="this.loggedUser" [routerLink]="['/users', loggedUser.id]">Profile</a>
        <a mat-list-item  *ngIf="this.loggedUser" (click)="this.logout()">Logout</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar class="toolbar">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)!.matches">
          <mat-icon aria-label="Side nav toggle icon">menu
          </mat-icon>
        </button>
        <span class="spacer"></span>

        <img class="logo" style="cursor:pointer;" src="./../../../assets/logo_brand.png" [routerLink]="['home']">
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span *ngIf="!(isHandset | async)!.matches">
        <a mat-button class="button-h" [routerLink]="['users/login']" *ngIf="!this.loggedUser">Login</a>
        <a mat-button class="button-h" [routerLink]="['users/register']" *ngIf="!this.loggedUser">Register</a>
        <a mat-button class="button-h" *ngIf="this.loggedUser" [routerLink]="['users']">Users</a>
        <a mat-button class="button-h" *ngIf="this.loggedUser" [routerLink]="['users', loggedUser.id]">Profile</a>
        <a mat-button class="button-h" *ngIf="this.loggedUser" style="cursor:pointer;" (click)="this.logout()">Logout</a>
        </span>
        <span class="spacer"></span>
      </mat-toolbar>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>

