.single-comment-in-list-container{
  text-align: left;
  word-break: break-word;
  margin: 0 auto 10px auto;
}

.comment-time{
  text-align: right;
}

.comment-form {
  height: 100%;
}

@media only screen and (min-width: 600px) {
  .single-comment-in-list-container {
    width: 50%;
    margin: 0 auto 10px auto;
  }
}



