<div class="login-container">

  <mat-card class="login-card">
    <mat-card-header class="login-header">
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <mat-form-field>
      <input #credential matInput type="text" required placeholder="Username or E-mail">
    </mat-form-field>
    <br />
    <mat-form-field>
      <input #password matInput type="password" required placeholder="Password">
    </mat-form-field>
    <br />
    <br />
    <button mat-button class="login-user-button" (click)="this.login(credential.value, password.value)">
      Login
    </button>
  </mat-card>

</div>
