



@media only screen and (max-width: 375px) {
  .posts-list {
    width:100%;
    display: grid;
    grid-template-columns: 1fr !important;
    grid-gap: 10px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 600px) {
  .posts-list {
    grid-template-columns: 1fr 1fr !important;
  }
}

.posts-list {
  width:100%;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
