<div class = 'edint-comp-wrapper'>



<input type="file" (change)="fileChangeEvent($event)" class="upload-btn" />

<div>
    <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [containWithinAspectRatio]="containWithinAspectRatio"
        [aspectRatio]="1 / 1"
        [resizeToWidth]="512"
        [cropperMinWidth]="128"
        [cropperMinHeight]="128"
        [onlyScaleDown]="true"
        [roundCropper]="false"
        format="png"
        outputType="base64"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady($event)"
        (loadImageFailed)="loadImageFailed()"
        [style.display]="showCropper ? null : 'none'"
        [alignImage]="'left'"
    ></image-cropper>
</div>

<div class="update-profile-container">
  <form [formGroup]="this.updateProfileForm" (ngSubmit)="this.onClikcUpdateProfile(this.updateProfileForm.value)">
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username">
      <mat-error *ngIf="!!this.updateProfileForm.controls.username.errors?.minlength">
        The username must be longert than 4 symbols!
      </mat-error>
      <mat-error *ngIf="!!this.updateProfileForm.controls.username.errors?.maxlength">
        The username must be shorter that 15 symbols!
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" type="password">
      <mat-error *ngIf="!!this.updateProfileForm.controls.password.errors?.minlength">
        The password must be longert than 6 symbols!
      </mat-error>
      <mat-error *ngIf="!!this.updateProfileForm.controls.password.errors?.maxlength">
        The password must be shorter that 15 symbols!
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="!!this.updateProfileForm.controls.email.errors?.email">
        The input should be valid email!
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput placeholder="Current password" formControlName="oldPassword" required type="password">
      <mat-error *ngIf="!!this.updateProfileForm.controls.oldPassword.errors?.minlength">
        The password must be longer than 6 symbols!
      </mat-error>
      <mat-error *ngIf="!!this.updateProfileForm.controls.oldPassword.errors?.maxlength">
        The password must be shorter that 15 symbols!
      </mat-error>
    </mat-form-field>
    <div>
      <button mat-icon-button class="upload-profile-button" type="submit" [disabled]="!this.updateProfileForm.valid">
        <i class="material-icons">
          assignment_turned_in
        </i>
      </button>
    </div>
  </form>
</div>
</div>
