.register-container {
    background-color: palegreen;
}

.register-header {
    background-color: palegreen;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.register-card {
    text-align: center;
}