<div *ngIf="(this.post)" class="post-info-container">
  <div class='post-and-tool-container'>
  <div class="single-post-container" post="post.title">
    <mat-card>

      <mat-card-header class="header" style="cursor: pointer;" (click)="this.navigate()">
        <img mat-card-avatar [src]="this.post.author.avatarURL">
        <mat-card-title class="author-name">{{this.post.author.username}}</mat-card-title>
      </mat-card-header>

      <div class="post-item">
        <img class="post-image" src="{{this.post.imageURL}}" >
      <br /><br />
        <mat-card-title class="post-texts">{{this.post.title}}</mat-card-title>
        <mat-card-subtitle class="post-texts">{{this.post.content}}</mat-card-subtitle>
      </div>

      <button mat-icon-button (click)="this.turnOnOffUpdatePostForm()"
      *ngIf="this.loggedUser && this.loggedUser.username === this.post.author.username">
        <i class="material-icons">
          build
        </i>
      </button>
      <button mat-icon-button (click)="this.confirmDelete()"
      *ngIf="this.loggedUser && this.loggedUser.username === this.post.author.username">
        <i class="material-icons">
          remove_circle
        </i>
      </button>
      <button mat-icon-button (click)="this.onLikePost()">
        <i class="material-icons">
          thumb_up
        </i>
      </button> {{ this.post.likesCount }}
    </mat-card>
  </div>

  <div class='update-tool'>
  <mat-card [style.display]="this.isPostForUpdate === true ? 'inherit' : 'none' ">
    <app-update-post
    (toUpdatePost)="this.updatePost($event)" [postToUpdate]="this.post"></app-update-post>
  </mat-card>
</div >
</div>

    <app-all-comments class='comment-section'
    (hasCreatedComment)="this.hasNewComment($event)"
    (hasDeletedComment)="this.hasOneLessComment($event)"
    ></app-all-comments>

</div>

