<div *ngIf="(this.post)" class="post-info-container">
  <div class="single-post-container" post="post.title">
    <mat-card>
      <img src="{{this.post.imageURL}}" class="post-image">
      <div class="post-item">

      </div>
      <button mat-icon-button (click)="this.turnOnOffUpdatePostForm()"
      *ngIf="this.loggedUser && this.loggedUser.username === this.post.author">
        <i class="material-icons">
          build
        </i>
      </button>
      <button mat-icon-button (click)="this.confirmDelete()"
      *ngIf="this.loggedUser && this.loggedUser.username === this.post.author">
        <i class="material-icons">
          remove_circle
        </i>
      </button>
      <button mat-icon-button (click)="this.onLikePost()">
        <i class="material-icons">
          thumb_up
        </i>
      </button> {{ this.post.likesCount }}
    </mat-card>
  </div>

  <mat-card [style.display]="this.isPostForUpdate === true ? 'inherit' : 'none' ">
    <app-update-post
    (toUpdatePost)="this.updatePost($event)" [postToUpdate]="this.post"></app-update-post>
  </mat-card>


    <app-all-comments
    (hasCreatedComment)="this.hasNewComment($event)"
    (hasDeletedComment)="this.hasOneLessComment($event)"
    ></app-all-comments>

</div>

