.post-info-container {
  text-align: center;
  background-color: #fffde2;
  margin-top: -8px;
  padding-top: 10px;
  height: 100vh;
}

.single-post-container{

  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .single-post-container {
    margin-top: 10px;
    max-width: 50%;
  }

}

.post-texts {
  text-align: center;
  word-break: break-all;
}

.post-image {
  max-width: 100%;
}
