.post-info-container {
  text-align: center;
}

.single-post-container{

  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .single-post-container {
    margin-top: 10px;
    max-width: 50%;
  }

}

.post-texts {
  text-align: center;
  word-break: break-word;
}

.post-image {
  max-width: -webkit-fill-available;
}
