.post-image {
  width: 100%;
}

.single-post-in-list-container {

  display: flex;
  text-align: center;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
