<div *ngIf="(this.postToShow)" class="post-info-container">
  <div class="single-post-in-list-container" post="post.title">
    <mat-card>
        <mat-card-header>
            <img mat-card-avatar
            [src]="this.postToShow.authorUrl">
            <mat-card-title>{{this.postToShow.author}}</mat-card-title>
            <mat-card-subtitle>Title goes here</mat-card-subtitle>
          </mat-card-header>
      <img class='post-image' src="{{this.postToShow.imageURL}}" (click)="this.openSinglePost()">
      <div class="post-item">
        <!-- Title: {{ this.postToShow.title }} <br />
        Content: {{ this.postToShow.content }} <br />
        Posted on: {{ this.postToShow.dateCreated }}<br />
        By: {{ this.postToShow.author }}<br />
        Private? {{ this.postToShow.isPrivate }}<br />
        Comments: {{ this.postToShow.commentsCount }}<br /> -->
      </div>
      <mat-card-actions>
          <button mat-icon-button (click)="this.turnOnOffUpdatePostForm()"
      *ngIf="this.loggedUser && this.loggedUser.username === this.postToShow.author">
        <i class="material-icons">
          build
        </i>
      </button>
      <button mat-icon-button (click)="this.onDeletePost()"
      *ngIf="this.loggedUser && this.loggedUser.username === this.postToShow.author">
        <i class="material-icons">
          remove_circle
        </i>
      </button>
      <button mat-icon-button (click)="this.onLikePost()">
        <i class="material-icons">
          thumb_up
        </i>
      </button> {{ this.postToShow.likes }}
      </mat-card-actions>

    </mat-card>
    <!-- <mat-card>
      <app-update-post *ngIf="this.isPostForUpdate===true"
      (toUpdatePost)="this.updatePost($event)" [val]="this.postToShow.id"></app-update-post>
    </mat-card> -->
  </div>
</div>
