
// .profile-container {
//   background-color: steelblue;
//   display: grid;
//   grid-template-columns: 1fr 3fr;
// }

.profile-card {
  width: calc(100% - 70px);
  height: calc(100%);
}

.example-card {
  background-color: orchid;
}



